

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.profile-image{
  width: 8rem !important;
}
 
.progress-bar {
  background-color: rgb(253, 216, 222) !important;
 
}
 
.progress{
  height: 5px !important;
}
 
.track-button{
  background: rgb(202, 242, 124) !important;
}
 
.btn-paid{
  background-color: rgb(253, 216, 222) !important;
}




/* main page */
 
.border-title {
  color: #000;
  font-size: 55px;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
}

.font-stroke {
  font-size: 55px;
  display: flex;
  justify-content: center;
  font-family: var(--font);
  color: var(--white);
  text-shadow: -2px 0 1px #000, 0 2px 1px #000, 2px 0 1px #000, 0 -2px 1px #000;
  letter-spacing: 5px;

}

.font-stroke ul {
  list-style-type: circle !important;
  text-shadow: -2px 0 1px #000, 0 2px 1px #000, 2px 0 1px#000, 0 -2px 1px #000;
}



.list {
  margin: 0px 40px;
}

h1 {
  margin-bottom: 0 !important;
}

.card {
  width: 15rem;
  border: 1px solid black;
  margin: 10px;
}

.img-shoe {
  /* width: 18rem; */
  height: 15rem;
}

.green {
  background-color: rgb(192, 235, 18);
}

.font-10 {
  font-size: 10px;
}

@media screen and (max-width:500px) {
  h1 {
      font-size: 25px !important;
  }
}

.card-show {
  display: flex !important;
}

/* product details */

.image-section{
  height: 81vh;
 
}

.sub-title{
  line-height: 10px;
}

.sub-title-weight{
  font-weight: 100;
}

.shop-btn{
  box-shadow: 1px 1px gray;
}

/* .img-size{
  width: 65%;
} */

@media screen and (max-width:500px) {
  .image-section{
      height: 100vh !important;
  }
}



/* blog2 css */


.nav-item {
  margin-right: 60px; 
}
#na{
  background-color: rgb(115, 240, 240);
  color: white;
}
.footer {
  background-color: hsl(210, 17%, 98%);
  padding: 20px 0;
  margin-top: 0; 
}

.footer .container {
  text-align: center;
}

.footer h5 {
  color: #333;
}

.footer p {
  color: white;
  margin-bottom: 10px;
}

.feed-structure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(231, 127, 127);
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin-bottom: 0;
}
.footer{
  background-color: rgb(131, 126, 126);
  color: white;

}